body{
  font-family: 'Lato', Arial, Helvetica, sans-serif;;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}

/*global*/
.container{
  width: 80%;
  margin: auto;
  overflow:hidden;
}

.nextPageButton{
  min-height: 50px;
  background: #ffffff;
  color: #C0DA81;
  border: 1px dotted #cccccc;
  border-radius: 50%;
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

/*mainpage style*/
/*.aboutpage, .welcome, .resumePage{
  color: #ffffff;
  margin: auto;
  min-height: 600px;
  font-size: 30px;
  text-align: center;
  /*margin-top: -2em;*/
