<!DOCTYPE html>
<html ng-app="demo">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="yicai's personal's website">
  <meta name="author" content="Yicai Weng">
  <meta name="description" content="demo portfolio">
  <title>Yicai Weng</title>
        <!-- stylesheet -->
  <link rel="stylesheet" href="../css/index.css" />
  <link rel="stylesheet" href="../views/about/about.css" />
        <!-- custon font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"></head>
        <!-- angularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!-- components -->
  <script src="../components/components.js"></script>
  <script src="../components/footer-bar/footer-bar.js"></script>
  <script src="../components/nav-bar/nav-bar.js"></script>
  <script src="../demo.app.js"></script>
  <script src="../views/views.js"></script>
</head>
<div nagPage>

<header>
  <nav class='header'>
    <div class="nav">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/contact_me">Contact Me</a></li>
      </ul>
    </div>
  </nav>
</header>
  <!-- <nav-bar></nav-bar> -->
<body>
  <div ng-view></div>
</body>
  <!-- <footer-bar></footer-bar> -->
<footer>
  <div class="footer">
    <div class="container">
      <P>Yicai &copy;2017</P>
    </div>
  </div>
</footer>
</div>
</html>
