.nav .highlight{
  color: #287BDD;
  font-weight: bold;
}

.nav{
  min-height: 80px;
  text-transform: uppercase;
  border-bottom: 4px solid #287BDD;
  color: #f7f7f7;
}

.nav-left{
  float: left;
  padding: 0 0 0 30px;
  margin-top: 20px;
}

.nav-left a{
  text-decoration: none;
  font-size: 20px;
}

/*.nav-left a:visited{
  color: #f7f7f7;
}*/

.nav-right{
  float: right;
  font-size: 20px;
}

.nav-right li{
  display: inline;
}

.nav-right a{
  text-decoration: none;
  padding: 0 20px 0 5px;
}
.nav-right a:hover{
  font-weight: bold;
  color: #287BDD;
}

/*.nav-right a:visited{
  color: #f7f7f7;
}*/

@media(max-width: 768px){
  .nav-left,
  .nav-right{ 
    float: none;
    width: 100%;
  }
}
