  <div class="resumePage">
    <div class="container">

    <section class="firstRow">
      <div class="education">
        <h2>Education</h2>
        <p>Bachelor of Science in Computer Science  <br />
          University of New Orleans, United States of America, 2016</p>
      </div>

      <div class="skills">
        <h2>Key Skills: </h2>
        <p>
          Java <br>
          JavaScript/ AngularJS/ CSS/ HTML <br>
          Certified Application Developer - Cloud Platform<br>
        </p>
      </div>
    </section>

      <div class="employee">
        <h2>Employer History</h2>
        <p>07/2016 to present</p>
        <p>
          International Business Machine, United States of America Application Developer: Mobile<br />
          Mobile App Development: iOS
        </p>
      </div>

      <div class="courses">
        <h2>Key Courses Training</h2>
        <p>
          Developing Mobile Apps with Swift and iOS Fundamentals for Enterprise <br />
          IBM Bluemix Enablement/ Cloud Application Developer Certification Preparation <br />
          Java SE7 Fundamentals/ Java SE7 Programming/ Java Bootcamp <br />
          Blockchain training <br /><br />
          School project (both personal project) : <br />
          - An eCommerce Website app that allows user to shop and even check out with a fake credit card. This app is a combination of Rails framework, Ruby, CSS, HTML, with a little bit of JavaScript and jQuery.
          - An iOS game called Galaxy War is a space shooting game that has a score board record the score, background soundtrack, and animated background. This app is using Swift language and SpriteKit. <br /><br />
          more exercises click <a href="https://github.com/yicaiweng"><img src="/img/icons/Github2.png" width='30px' height='30px'></a>
        </p>
      </div>
    </div>
</div>
