.welcome{
  background-color: #5FAE99;
  color: #f7f7f7;
  margin: auto;
  min-height: 600px;
  text-align: center;
  /*background: url('/img/jacksonSquare.jpg') no-repeat -650px -400px;*/

}

.welcome h2{
  font-size: 100px;
}

.welcome p{
  font-size: 30px;
  margin-top: -3em;
}
