<div class=contactMePage>
  <div class="container">
    <h2>Contact Me</h2>
    <p>Say Hi</p>
    <!-- <p>100 North Street, Baton Rouge, LA, 70802</p>
    <p><a target="_blank" href="https://www.linkedin.com/in/yicaiweng"><img src='img/icons/Linkedin2.png' width='40px' height='40px'></a></p>
    <p><a target="_blank" href="https://www.instagram.com/yicaiweng/"><img src='img/icons/Instagram2.png' width='40px' height='40px'></a></p> -->
    <form class="form">
      <input type="text" placeholder="Name"><br />
      <input type="email" placeholder="Email"><br />
      <textarea placeholder="Message"></textarea><br />
      <button type="submit" value="Send">Send</button>
    </form>
  </div>
</div>
