.contactMePage{
  background-color: #F1C043;
  color: #ffffff;
  margin: auto;
  min-height: 600px;
  text-align: center;
  font-size: 30px;
}

.contactMePage a{
  text-decoration: none;
  color: #f7f7f7;
}
