<div class="footer">
  <div class="container">
    <P>Yicai Weng &copy; 2017</P>
  </div>
  <div class='icon'>
    <ul>
      <li><a target="_blank" href="https://github.com/yicaiweng"><img src="/img/icons/Github.png" width='40px' height='40px'></li>
      <li><a target="_blank" class="linkedinIcon" href="https://www.linkedin.com/in/yicaiweng"><img src='img/icons/Linkedin.png' width='40px' height='40px'></a></li>
      <li><a target="_blank" class="instaIcon" href="https://www.instagram.com/yicaiweng/"><img src='img/icons/Instagram.png' width='40px' height='40px'></a></li>
      <li><a href="mailto:yicai.weng@ibm.com"><img src="img/icons/email.png" width="40px" height="40px"></a></li>
    </ul>
  </div>
</div>
