<div class="container">
  <div class='aboutpage'>
    <h1>About Me</h1>
    <strong>Yicai</strong> is a recent graduate with a BS in Computer Science.
    In school, he was able to gain knowledge through hard work and dedication.
    He is knowledgeable in Object-orientated languages such as Java, but also has some experience with Entity Relational Model using MySQL and web development using Ruby on Rails.
    He also have been trained in Swift and iOS.
    He is a motivated hard worker who prides himself in being thorough and efficient.
  </p>
  </div>
</div>
