
.aboutpage{
  background-color: #2C313C;
  color: #D4CEC2;
  margin: auto;
  min-height: 600px;
  font-size: 30px;
}

.profile{
  float:left;
}

.aboutContent{
  margin-top: 5em;
}
.aboutpage  h2{
  text-align: center;
}

.content{
  font-size: 29px;
  margin-left:  350px;
  margin-top: 3em;
}

.content p{
  text-indent: 50px;
}

@media(max-width: 768px){
  .profile{
    float: none;
    margin-top: -3em;
  }
  .content{
    margin: 0;
  }
}