  <div class='aboutpage'>
    <div class="container">
      <h2>About Me</h2>

    <div class="profile">
      <img src="/img/profile1_small.jpg" width="300px" height="240px">
    </div>

    <div class="content">
      <p><strong>Yicai</strong> is highly skilled front-end developer.
        He is knowledgeable in front-end web development technologies using Angular, CSS and HTML, as well as
        object-orientated languages such as Java and SQL,
        He also has been trained in Swift and the iOS platform.
        His last assignment allowed him to gain over a year of Hybrid mobile application development experience using MobileFirst technologies working in an Agile environment.
        He is a motivated hard worker who prides himself in being thorough and efficient.
      </p>
    </div>
  </div>
</div>
